<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1}.%method [%line] - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="${ProgramData}\SDGLogs\DataGenerator\Log.txt" />
    <appendToFile value="true" />
    <maximumFileSize value="15MB" />
    <maxSizeRollBackups value="30" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
  </appender>
  <appender name="SDGPerformanceLog" type="log4net.Appender.RollingFileAppender">
    <file value="${ProgramData}\SDGLogs\PerformanceLogs\Log.txt" />    
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="FileListLog" type="log4net.Appender.RollingFileAppender">
    <file value="${ProgramData}\SDGLogs\FileListLog\.csv" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'List_'MM-dd-yyyy"/>
    <preserveLogFileNameExtension value="true" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
    </layout>
  </appender>
  <logger name="NHibernate">
    <level value="WARN"/>
  </logger>
  <root>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="TraceAppender" />  
  </root>
  <logger additivity="false" name="SDGPerformanceLog">
    <level value="INFO"/>
    <appender-ref ref="SDGPerformanceLog" />
  </logger>
  <logger additivity="false" name="FileListLog">
    <level value="INFO"/>
    <appender-ref ref="FileListLog" />
  </logger>
</log4net>
